// ---------- COLORS --------------//


$primary: #323941;
$blue: #009EFF;
$white: #ffffff;
$black: #1B1B1B;
$silver: #b4b4b4;









// ---------- COLOR VARIABLES ----------//

// Burger Menu
//$burgerBreakpoint: $breakpoint992;
$burgerMenuIcoColor: $white;
$burgerCloseIcoColor: $white;
$burgerLinkColor: $white;
$burgerBackground: $primary;

// Navbar menu
$navBarColor: $primary;
$navLinkColor: $white;

//Navlogo
$navLogoText: $blue;

//Products
$productsBackground: $primary; 


